@import 'variables';

.btn-mint {
  background-color: $color-theme;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 4px 6px;
  text-align: center;
  font-size: 16px;
  height: 35px;
}
