{% extends 'common/base.html' %}

{% block content %}
    <form action="" method="get">
        <input type="text" name="keyword">
        <input type="submit">
    </form>

    {% if datas %}
        {% for book, form in datas %}
            {% include 'include/book.html' %}
            <form action="{% url 'books:book_sell_register_save' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit">
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}
