{% extends 'common/base.html' %}

{% block content %}
<div class="book_count">
    "<a href="#">{{ q }}</a>"
    의 검색 결과 : {{ book_count }} 개
</div>
{% for book_list in book_lists %}
    <ul>
        <li>
            <div class="book-info">
                <div class="book-img">
                    <img src="{{ book_list.image.url }}">
                </div>
                <div class="book_description">
                    <p class="book-title">{{ book_list.title }}</p>
                    <span>
                        <a href="#">
                            {{ book_list.writer }}
                        </a> |
                        <a href="#">
                            {{ book_list.publisher }}
                        </a> | {{ book_list.publication }}
                    </span>
                </div>
            </div>
        </li>
    </ul>
{% endfor %}
{% endblock %}