<ul class="dropdown-menu dropdown-menu-large">
    <li class="">
        <ul>
            <li><a href="#">소설</a></li>
            <li><a href="#">시/에세이</a></li>
            <li><a href="#">경제/경영</a></li>
            <li><a href="#">자기계발</a></li>

            <li class="hr"><hr noshade /></li>

            <li><a href="#">인문</a></li>
            <li><a href="#">역사문화</a></li>
            <li><a href="#">종교</a></li>
            <li><a href="#">정치/사회</a></li>
            <li><a href="#">에술/대중문화</a></li>
            <li><a href="#">과학</a></li>
            <li><a href="#">기술/공학</a></li>
            <li><a href="#">컴퓨터/IT</a></li>
            <li class="hr"><hr noshade /></li>

            <li><a href="#">여행/기행</a></li>
            <li><a href="#">요리</a></li>
            <li><a href="#">만화</a></li>
        </ul>
    </li>
</ul>